

* {
    margin: 0;
    padding: 0; 
 }

 html {
    background-color: #fff;
    color: rgba(5, 5, 5, 0.856);
    text-rendering: optimizeLegibility;
}

 header{   
    padding: 5px;
}

.secu{
    background-color: #f8b33c;
    min-height: 100%;
    padding-bottom: 20%;
    
}

.hero-food{
    padding: 10px;
    display: flex;
}



.navi1{
   padding: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   

}




.logo{
    height: 60px;
    width: auto;
    float: left;
    margin-top: 20px;
}


.main-navi{
    float: right;
    list-style: none;
    margin-top: 30px;
    z-index: 10;
    /* outline: solid 3px red; */
}

.main-navi h3{
    font-family: 'Bebas Neue';
    font-size: 20px;
    font-weight: 500;
    display:flex;
    justify-content: right;
}

.main-navi li{
    display: inline-block;
    margin-left: 30px;
    margin-top: 5px;
    

}

.main-navi li a{
    color:black ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px ;
    font-family: Bebas Neue;
    
}

.main-navi li a:link,
.main-navi li a:visited {
    padding: 8px 0 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-navi li a:hover,
.main-navi li a:active {
    border-bottom: 2px solid #e1781c ;
}


h1{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 300% ;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.hero-text-box h5{
    outline: dashed 2px rgb(1, 1, 1);
    padding:5px;
    font-family: Montserrat;
    font-size: 20px;
}

.hero-text-box h1{
    font-family: Alfa Slab One;
    font-size: 100px;
    color: rgb(53, 11, 11);
    text-shadow: 2px 2px white;
}

.big{
    font-weight: 200;
    text-transform: uppercase;
    font-size:110%;
}

.hero-text-box{
    /* outline: solid 1px rgb(199, 23, 23); */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.foods{
    /* outline: solid 1px rgb(199, 23, 23); */
    position: absolute;
    top:-5%;
    left:30%; 
}



.foods h3{
    color: white;
    
}

.kuqo{
    position: absolute;
    top:55%;
    left:20%;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 70%;
    background-color: red;
    display:flex;
    justify-content: center;
    align-items: center;
}

.circle{
    outline: dashed 2px white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.leku{
    font-weight: 200;
    text-transform: uppercase;
    font-size:200%;
}

.leku2{
    font-weight: 200;
    text-transform: uppercase;
    font-size:150%;
}


.sec1{
   margin-left: 8%;
    display: flex; 
    align-items: center;
    justify-content: center;
  
    /* outline: solid 3px rgb(199, 23, 23);  */
    
}

.firstSection{
    padding:10px;
    
}

.textone{
 position: absolute;
 margin-top: -25%;
 color: #fff;
 margin-left: 2%;
 font-family: Bebas Neue;
 font-size: 30px;
}

.texttwo{
    position: absolute;
    margin-top: -12%;
    color: #fff;
    margin-left: 1%;
    font-family: Bebas Neue;
    font-size: 30px;
}

.textthird{
    position: absolute;
    margin-top: -12%;
    color: #fff;
    margin-left: 1%;
    font-family: Bebas Neue;
    font-size: 30px;
}

.secondSection{
  padding:10px;
  /* outline: solid 3px rgb(199, 23, 23);  */
}

.imgOne{
  padding-bottom:10px;
}

.imgTwo{
    padding-top:10px;
  }


.section-burger{
    
    /* outline: solid 3px rgb(199, 23, 23);  */
    display:flex;
    justify-content: center;
    align-items:center;
    max-width:100%; 
    margin-top: 5%; 
   
}

.title{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* outline: solid 4px rgb(23, 93, 199); */
  /* padding:25px;   */
  padding-right: 14%;
  padding-left: 15%;
  margin-bottom: 2%;
}

.title h3{
    font-family: Alfa Slab One;
    font-size: 40px;
    color: rgb(53, 11, 11);
    text-shadow: white;
}

.title h4{
    font-family: Montserrat;
}

.btn1{
    background-color:#f8b33c ;
    border: none;
    font-family: Bebas Neue;
    font-size: 20px;
    padding: 10px;
    margin: 15px;
}

.btn{
    background-color: red;
    font-family: Alfa Slab One;
    font-size: 15px;
    color: white;
    margin: 15px;
    padding: 10px;
    border: none;
    text-align: center;
}

.sec2{
    /* outline: solid 4px rgb(23, 93, 199); */
    padding: 20px;
    max-height: 100%;
    
}

/*.burgerat{
    outline: solid 4px rgb(23, 93, 199); 
}*/

.bigi{
    /* outline: solid 1px rgb(23, 93, 199); */
    height: 270px;
}

.burger-photo{
    display:flex;
    justify-content: center;
     align-items: center;
     flex-direction: column; 
     /*outline: solid 1px rgb(23, 93, 199);*/
}

.burger-photo h2{
    font-family: Bebas Neue;
    font-size: 25px;
    font-weight: 100;
    padding: 5px;
    
}

.burger-photo h4{
    font-family: Montserrat;
    font-size: 14px;
    margin:10px;
}

.row{
    display:flex;
    justify-content: space-around;
}

.events{
    max-height: 100%;
    margin-top: 5%;
    /*outline: solid 4px rgb(23, 93, 199);*/
    display: flex;
    justify-content: center;
    align-items:center;
}

.kartolin{
    display: flex;
    /* outline: solid 1px rgba(141, 137, 137, 0.207); */
    margin:20px;
    padding:10px;
    box-shadow: 10px 10px 20px 10px rgb(0 0 0 / 0.2);
}

.firstevent{
    /* outline: solid 4px rgb(199, 55, 23); */
    display: flex;
    flex-direction: column;
    padding:15px;
   
}

.topat{
    /* outline: solid 4px rgb(199, 55, 23); */
    margin-top: 180px;
    padding:5px
}

.firstevent h1{
    font-family: Alfa Slab One;
    font-size: 200%;
    color: rgb(53, 11, 11);
}

.firstevent h2{
    font-family: Bebas Neue;
    font-size: 30px;
    font-weight: 100;
}

.photo-event{
    /* outline: dashed 3px rgb(23, 199, 126); */
    display: flex;
    justify-content: right;
    max-width: 100%;
    height: auto;
}

.section-form{
    display: flex;
    max-height: 100%;
    margin-top: 5%;
    /* outline: solid 4px rgb(199, 55, 23); */
    
}

.form-title{
    
    display: flex;
    justify-content:center;
    align-items: center; 
    flex-direction: column;
}

.form-title h4{
    padding-top:30px;
    font-family: Bebas Neue;
    font-size: 20px;
    font-weight: 200;
}

.form-title h2{
    font-family: Alfa Slab One;
    font-size: 40px;
    font-weight: 300;
    color: rgb(53, 11, 11);
    text-shadow: white;
}

.myform{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:30px;
    
    /* outline: dashed 4px rgb(199, 55, 23); */

}

.btn3{
    background-color: red;
    font-family: Alfa Slab One;
    width: 335px;
    font-size: 25px;
    color: white;
    margin: 15px;
    padding: 10px;
    border: none;
    text-align: center;

}

.title-form{
    display: flex;
    flex-direction: column;
}

.bottle{
    /* outline: solid 4px rgb(23, 199, 134); */
   
     display: flex;
     flex-direction: column;
     /* justify-content: space-around; */
}
.tabasco{
    margin-top: -65%;
    width: 80%;
    margin-left: 50%;
}
.burger-form{
    margin-top: -20%;

}


.fries{
    /* outline: dashed 4px rgb(23, 126, 199); */
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.inpute{
    font-size: 25px;
    color: white;
    margin: 15px;
    padding: 10px;
    
}



.gjigi{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top:40px;
    /* outline: solid 4px rgb(23, 199, 134); */
}

.last-section{
    width: 100%;
}
.last-section p{
    color: #fff;
    
}

.myinfo{
    display: flex;
    align-items: center;
    margin-right: 10%;
    margin-top: -3%;
}

.information{
    /* outline: solid 4px rgb(23, 126, 199); */
   padding: 20px;
   list-style: none;
}


.information li a{
    color:white;
    text-decoration:none;
    display:flex;
}


.information li a h2{
  font-size:15px;
  font-family: Montserrat;
}

.social{
   /* outline: solid 2px rgb(106, 52, 27); */
   /* flex-grow:1; */
    margin-top: 9%;
    margin-bottom: 5%; 
    margin-left: 50%;

}

.rights{
    /* outline: solid 5px rgb(210, 29, 29);  */
    justify-content: end;
    
}

.rights p{
    font-family: Bebas Neue;
    color: white;
    margin-top: 57%;
   
     /* padding-top: 40%; */
} 


.qysh{
    /* outline: solid 5px rgb(31, 149, 234);  */
    display:flex;
    justify-content: space-evenly;
    margin-top: -15%;
}
.social-link{
    display:flex;
    list-style: none;
}

.social-link li a{
    color:white;
    padding:5px;
}

.secondlogo{
    padding: 6% 15% 20% 5%;   

}

.secondlogo p{
    font-size: 19px;
    font-family: Montserrat;  
}

.together{
    display: flex;
    color:white;
    background-image: url(images/back.png);
    /* opacity: calc(0.92); */
    background-repeat: no-repeat;
    display: flex;
    margin-left: 5%;
}

.term{
    padding:10px;
}

@media only screen and (min-width: 1200px) {

    
    






}
@media only screen and (min-width: 992px) {




}


@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 600px) {






}
